module.exports.getTime=function(time){
    var date = getDate(time)
    var year = date.getFullYear()
    var month = date.getMonth()+1
    var day = date.getDate()
    if(month<=9){
        month="0"+month
    }
    if(day<=9){
        day="0"+day
    }
    return ""+year+"-"+month+"-"+day
}
module.exports.howDayNum=function(time){
    // console.log(time,"time")
    if(!time){
        return 0;
    }
    var dateTime = getDate(time).getTime()
    var newTime = getDate().getTime()
    // console.log(dateTime,"DATEtIME")
    var minTime = newTime-dateTime
   
    var dayNum = Math.ceil(minTime/(24*60*60*1000))
    return dayNum
}